%section.centered
  .form-title= title

  = semantic_form_for [@variant, @terrain_rule], html: { class: 'question-style' } do |f|
    = f.inputs do
      - if f.object.persisted?
        = f.input :terrain_type, input_html: { disabled: true }, wrapper_html: { class: 'inline' }
      - else
        = f.input :terrain_type, collection: f.object.variant.available_terrain_types, wrapper_html: { class: 'inline' }

      = f.input :count, as: :number, min: 1, step: 1, wrapper_html: { class: 'inline' }

    = render "terrain_rules/form/passable_movement", f: f
    = render "terrain_rules/form/stops_movement", f: f
    = render "terrain_rules/form/slows_movement", f: f
    = render "terrain_rules/form/passable_range", f: f

    = f.actions do
      = f.action :submit
      = f.action :cancel, :url => @terrain_rule.variant
