= semantic_form_for [@variant, @terrain_rule] do |f|
  = f.inputs do
    = f.input :terrain_type
    = f.input :count, as: :number, min: 1, step: 1
    = f.input :block_movement

  = f.actions do
    = f.action :submit, name: "Save"
    = f.action :cancel, name: "Cancel"