= semantic_form_for @quote do |f|
  = f.inputs do
    = f.input :book_number
    = f.input :book_name
    = f.input :chapter_number
    = f.input :chapter_name
    = f.input :number
    = f.input :description, input_html: { class: 'long' }
    = f.input :text

  = f.actions do
    = f.action :submit, name: "Save"
    = f.action :cancel, name: "Cancel"
