= content_for :navigation do
  = render 'shared/navigation', back: {name: 'Quotes', href: :quotes}

%section.quote
  %table
    %tr
      %th Book
      %td= @quote.book_name
    %tr
      %th Chapter
      %td= @quote.chapter_name
    %tr
      %th Description
      %td= @quote.description
    %tr
      %th Text
      %td= @quote.html
