= content_for :navigation do
  = render 'shared/navigation', back: {name: 'Home', href: '/'}

%section.discussion
  .title= @discussion
  .description= @discussion.description

  - if signed_in? && current_user.can_create?(Topic)
    = link_to 'New Topic', [:new, @discussion, :topic]
    %br
    %br

  - if @discussion.topics.count == 0
    %em No topics

  %table
    %tbody
      - @discussion.topics.each do |topic|
        %tr
          %td{onclick: "window.location='#{topic_path(topic)}';"}
            = topic.title

            .stats
              .stat
                = topic.comments_count
                Comments
              .stat
                Last Comment:
                = time_ago_in_words(topic.comments.last.created_at)
                ago
