= content_for :navigation do
  = render 'shared/navigation', back: {name: @topic.parent, href: @topic.parent}

%section.centered.topic
  .title= @topic.title
  .description= @topic.parent

  %ul.comments
    - @topic.comments.each do |comment|
      %li
        .comment
          .user-with-time
            .user= comment.user
            .time #{time_ago_in_words(comment.created_at)} ago
          .text= comment.text

  .new-comment
    .title New Comment

    = form_for [@topic, Comment.new] do |f|
      = f.text_area :text
      = f.submit
