= content_for :navigation do
  = render 'shared/navigation', back: {name: 'Home', href: '/'}

%section.centered
  .title
    Account Details
    = link_to 'Edit', [:edit, @user]

  %table
    %tr
      %th Username
      %td= @user.username
    %tr
      %th Email
      %td= @user.email
