%section.home.explore
  = content_for :sidebar do
    %ul
      %li= link_to "Quotes TODO", '#'
      %li= link_to "Piece Types", :piece_types
      %li= link_to "Terrain Types", :terrain_types

  = render layout: "shared/content_with_sidebar" do
    Explore Home TODO
