%section.home.index
  %section.top
    .vertical-center
      .left
        = image_tag @king_image_src

      .center
        .name
          = italicize_cyvasse("Cyvasse Explorer")
        .mission
          = italicize_cyvasse("An online community forum dedicated to creating cyvasse,")
          %br
          a game described in the series A Song of Ice and Fire by George R. R. Martin

      .right
        = image_tag @dragon_image_src

  %section.bottom
    %ul
      %li.half
        .title Ultimate Goal
        .message
          %ul.bullets
            %li= italicize_cyvasse("As a community come to an agreement on rules for cyvasse.")
            %li Get the game manufactered.

      %li.half
        .title Plan
        .message
          %ul.bullets
            %li= italicize_cyvasse("Users create variants of cyvasse that are played by the community.")
            %li The community rates and reviews these variants.
            %li Variants are updated by majority consensus.
            %li Repeat until we are all playing a game we enjoy.

      %li.full
        .title How to get started
        .message
          %ul.bullets
            %li
              = italicize_cyvasse("Brush up on your cyvasse knowledge by reading the")
              = link_to "quotes", :quotes
              from the books.

            %li
              Learn the
              = succeed ',' do
                = link_to "invariants", :invariants
              = italicize_cyvasse("the basic rules every variant of cyvasse will share.")


            %li
              Explore the
              = link_to "variants", :variants
              currently being played. Inspect the rules. Read reviews.

            %li
              Jump in and
              = succeed '.' do
                = render 'shared/play_link', title: 'play'
              Please rate and review along the way.

            %li
              If you'd like to create your own variant, start
              = succeed '.' do
                = link_to "here", :creator
