= content_for :page_specific_javascript do
  = javascript_include_tag "pages/home/play"

%section.play
  .board

  .control
    .game
      .actions
        %button(data-action='setup_complete') Setup Complete
        %button(data-action='abort') Abort
        %button(data-action='resign') Resign
      .chat
      %form
        = text_field_tag 'message', ''

    .challenges
      .new
        .title New Challenge
        %form
          %ul
            %li
              = label_tag 'variant_id', 'Variant:'
              = select_tag 'variant_id', options_from_collection_for_select(Variant.all, :id, :name)
            %li
              = label_tag 'play_as', 'I Play As:'
              = select_tag 'play_as', options_for_select(['alabaster', 'onyx', 'random'].map{ |x| [x.capitalize, x] })
            %li
              = submit_tag 'Create', 'data-action' => 'create'

      .index
        .title Challenges
        %table
          %tbody.your
            %tr
              %th{colspan: 3} Your Challenges
          %tbody.open
            %tr
              %th{colspan: 3} Open Challenges

:javascript
  $(function() {
    ChallengesController = require('controllers/challenges_controller')
    new ChallengesController(#{current_user.id}).activate()
  });
