- exclude_actions = exclude_actions
- include_actions = !exclude_actions && signed_in? && current_user.can_manage?(variant)

%ul.rule-list
  - variant.piece_rules.each do |piece_rule|
    - piece_rule = PieceRuleDecorator.new(piece_rule)

    %li
      .type
        .name-and-count
          = piece_rule.piece_type.name
          (#{piece_rule.count})
          - if variant.piece_ranks
            .rank Rank: #{piece_rule.rank}
        .images
          = image_tag piece_rule.piece_type.alabaster_image, size: '50x50'
          = image_tag piece_rule.piece_type.onyx_image, size: '50x50'

      .rules
        %ul
          %li.movement
            = piece_rule.movement_description
            = link_to 'Preview', "#", { "data-action" => "preview", "data-id" => variant.id, "data-piece-type-id" => piece_rule.piece_type_id, "data-type" => "movement" }
          %li.capture
            = piece_rule.capture_description
            - if piece_rule.range_capture?
              = link_to 'Preview', "#", { "data-action" => "preview", "data-id" => variant.id, "data-piece-type-id" => piece_rule.piece_type_id, "data-type" => "range" }
          - if piece_rule.range_capture?
            %li.restriction
              = piece_rule.range_capture_restriction

      - if include_actions
        .actions
          = link_to 'Edit', [:edit, piece_rule]
          %br
          - unless piece_rule.piece_type.king?
            = link_to 'Delete', piece_rule, method: :delete, data: { confirm: 'Are you sure?' }
