= content_for :navigation do
  = render 'shared/navigation', back: {name: 'Invariants', href: :invariants}

%section.terrain_types
  .title
    Terrain Types
    - if signed_in? && current_user.can_create?(TerrainType)
      = link_to 'New', [:new, :terrain_type]

  .description
    The names and images of all the different types of terrain available.

  %table
    %thead
      %tr
        %th Name
        %th Image
        %th

    %tbody
      - @terrain_types.each do |terrain_type|
        %tr
          %td= terrain_type.name
          %td= image_tag terrain_type.image

          %td
            - if signed_in? && current_user.can_manage?(terrain_type)
              = link_to 'Edit', [:edit, terrain_type]
              = link_to 'Destroy', terrain_type, method: :delete, data: { confirm: 'Are you sure?' }
