= render 'support_types_modal'

%section.centered
  .form-title= title

  = semantic_form_for @variant, html: { class: 'inline' } do |f|
    = f.inputs "Board Options" do
      = f.input :board_type, collection: Variant::BOARD_TYPES, input_html: {'data-dependent' => 'board_type'}

      %div{'data-dependency' => 'board_type', 'data-value' => 'square'}
        = f.input :board_rows, as: :number, required: true, min: 1, max: 20, step: 1
        = f.input :board_columns, as: :number, required: true, min: 1, max: 20, step: 1

      %div{'data-dependency' => 'board_type', 'data-value' => 'hexagonal'}
        = f.input :board_size, as: :number, required: true, min: 1, max: 20, step: 1

    = f.inputs "Capturing Options" do
      = f.input :piece_ranks, as: :radio, input_html: {'data-dependent' => 'piece_ranks'}, hint: 'With piece ranks, pieces can only capture units of the same rank or lower'

      %div{'data-dependency' => 'piece_ranks', 'data-value' => 'true'}
        = f.input :support_type, collection: Variant::SUPPORT_TYPES, include_blank: false, hint: (link_to 'Support types explained', '#', 'data-toggle' => 'modal', 'data-target' => '.support-types')


    = f.actions do
      = f.action :submit, name: "Save"
      = f.action :cancel, url: @variant || :variants
