= content_for :navigation do
  = render 'shared/navigation', back: {name: 'Invariants', href: :invariants}, forward: {name: 'Play', link_partial: 'shared/play_link'}

%section.variants
  .title
    Variants
    - if signed_in? && current_user.can_create?(variant)
      = link_to 'New', [:new, :variant]

  %table
    %thead
      %tr
        %th Creator
        %th Games Played
        %th Rating
        %th

    %tbody
      - @variants.each do |variant|
        %tr
          %td= variant.user.username
          %td= variant.games.count
          %td
          %td
            = link_to 'View', variant

            - if signed_in? && current_user.can_manage?(variant)
              = link_to 'Destroy', variant, method: :delete, data: { confirm: 'Are you sure?' }
