%section.create.variants
  = render 'create/sidebar'
  = render :layout => "shared/content_with_sidebar" do
    .title Variants

    %table.clickable
      %thead
        %tr
          %th Name
          %th Board Type
          %th Games Played

      %tbody
        - @variants.each do |variant|
          %tr{onclick: "window.location='#{variant_path(variant)}';"}
            %td= variant.name
            %td= variant.board_type
            %td= variant.games.count
