= content_for :navigation do
  = render 'shared/navigation', back: {name: 'Invariants', href: :invariants}, forward: {name: 'Play', link_partial: 'shared/play_link'}

%section.centered.variants
  .title
    Variants
    - if signed_in? && current_user.can_create?(Variant)
      = link_to 'New', [:new, :variant]

  .description
    Have an idea for a new rule you want supported? Think a rule needs to be changed? Please post
    = succeed '.' do
      = link_to 'here', Discussion.find_by(title: 'Invariants and Rule Support')

  %table
    %thead
      %tr
        %th Creator
        %th Games Played
        %th Number of Reviews
        %th Average Rating
        %th

    %tbody
      - @variants.each do |variant|
        %tr
          %td= variant.user.username
          %td= variant.games.count
          %td=variant.review_topic.comments.count
          %td
            .rating{ 'data-score' => variant.average_rating }
          %td
            = link_to 'View', variant

            - if signed_in? && current_user.can_manage?(variant)
              = link_to 'Destroy', variant, method: :delete, data: { confirm: 'Are you sure?' }

:javascript
  $(function() {
    $('.rating').raty({readOnly: true});
  });
