= content_for :page_specific_javascript do
  = javascript_include_tag "pages/variants/show"

= content_for :navigation do
  = render 'shared/navigation', back: {name: 'Variants', href: :variants}

%section.variant
  .title
    Variant by #{@variant.user.username}

  .sub-section
    .title
      Options
      - if signed_in? && current_user.can_manage?(@variant)
        = link_to 'Edit', [:edit, @variant]

    %table
      %tr
        %th Board
        %td
          = @variant.board
          = link_to 'Preview', "#", { "data-action" => "preview", "data-id" => @variant.id }

  .sub-section
    .title
      Piece Rules
      - if signed_in? && current_user.can_manage?(@variant)
        = link_to 'New', [:new, @variant, :piece_rule]


    = render partial: 'piece_rules/index', locals: { variant: @variant }

  .sub-section
    .title
      Terrain Rules
      - if signed_in? && current_user.can_manage?(@variant)
        = link_to 'New', [:new, @variant, :terrain_rule]

    = render partial: 'terrain_rules/index', locals: { variant: @variant }

#preview.modal.hide
  .modal-header
    %button.close(type='button' data-dismiss='modal') ×
    %h3 Preview
  .modal-body
    .board

:javascript
  $(function() {
    PieceType = require('piece_type')
    PieceType.set_data(#{ActiveSupport::JSON.encode(PieceType.urls)})

    TerrainType = require('terrain_type')
    TerrainType.set_data(#{ActiveSupport::JSON.encode(TerrainType.urls)})
  });
