= content_for :navigation do
  = render 'shared/navigation', back: {name: 'Variants', href: :variants}

= render partial: 'shared/preview_modal'

%section.centered.variant
  .top-section
    .title= italicize_cyvasse(variant.to_s)
    .rating{ 'data-score' => variant.average_rating }
    .link= link_to 'Reviews', variant.review_topic

    .description
      Have an idea for a new rule you want supported? Think a rule needs to be changed? Please post
      = succeed '.' do
        = link_to 'here', Discussion.find_by(title: 'Invariants and Rule Support')

  .sub-section
    .title
      Options
      - if signed_in? && current_user.can_manage?(variant)
        = link_to 'Edit', [:edit, variant]

    %ul.options-list
      %li
        = variant.board_description
        = link_to 'Preview', "#", { "data-action" => "preview", "data-variant-id" => variant.id }
      %li
        = variant.piece_ranks_description

  .sub-section
    .title
      Piece Rules
      - if signed_in? && current_user.can_manage?(variant) && variant.available_piece_types.present?
        = link_to 'New', [:new, variant, :piece_rule]

    = render partial: 'piece_rules/index', locals: { variant: variant }

  .sub-section
    .title
      Terrain Rules
      - if signed_in? && current_user.can_manage?(variant) && variant.available_terrain_types.present?
        = link_to 'New', [:new, variant, :terrain_rule]

    = render partial: 'terrain_rules/index', locals: { variant: variant }

:javascript
  $(function() {
    PieceType = require('piece_type');
    PieceType.set_data(#{ActiveSupport::JSON.encode(PieceType.urls)});

    TerrainType = require('terrain_type');
    TerrainType.set_data(#{ActiveSupport::JSON.encode(TerrainType.urls)});

    $('.rating').raty({readOnly: true})
  });
