= semantic_form_for @piece_type do |f|
  = f.inputs do
    = f.input :name
    - if @piece_type.persisted?
      %li
        %label Current Alabaster Image
        = image_tag @piece_type.alabaster_image
      = f.input :alabaster_image, required: false, label: 'Updated Alabaster Image', input_html: { accept: '.svg' }
      %li
        %label Current Onyx Image
        = image_tag @piece_type.onyx_image
      = f.input :onyx_image, required: false, label: 'Updated Onyx Image', input_html: { accept: '.svg' }

    - else
      = f.input :alabaster_image, input_html: { accept: '.svg' }
      = f.input :onyx_image, input_html: { accept: '.svg' }

  = f.actions do
    = f.action :submit, name: "Save"
    = f.action :cancel, name: "Cancel"