= content_for :navigation do
  = render 'shared/navigation', back: {name: 'Invariants', href: :invariants}

%section.piece_types
  .title Piece Types
  .description
    The names and images of all the different types of pieces available.

  %table
    %thead
      %tr
        %th Name
        %th Alabaster Image
        %th Onyx Image

    %tbody
      - @piece_types.each do |piece_type|
        %tr
          %td= piece_type.name
          %td= image_tag piece_type.alabaster_image
          %td= image_tag piece_type.onyx_image
