!!! 5
%html
  %head
    %title Cyvasse Explorer
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = yield :page_specific_javascript
  %body
    .header
      %ul.left
        %li.logo
          = link_to :root do
            %em Cyvasse
            Explorer

      %ul.right
        - if current_user
          %li
            Weclome,
            = link_to current_user.username, current_user

          - if current_user.admin
            %li= link_to 'Users', :users

          %li= link_to "Sign Out", [:destroy, :user, :session], :method => :delete
        - else
          %li= link_to "Sign In", [:new, :user, :session]
          %li= link_to "Sign Up", [:new, :user, :registration]

    .content-with-navigation
      = yield :navigation

      .content
        = content_tag(:div, flash[:notice], class: 'flash alert') if flash[:notice]
        = content_tag(:div, flash[:alert], class: 'flash alert') if flash[:alert]
        = yield
