!!! 5
%html
  %head
    %title Cyvasse Explorer
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
  %body
    .header
      %ul.left
        %li.logo= link_to "Cyvasse Explorer", :root

    .content
      = yield
